<ion-view id="route_results_page" ng-controller="RoutesSearchController as rsc"
title="Route results for {{ rsc.keyword }}">
    <ion-content class="has-header">
        <div class="list">
            <a class="item" ng-repeat="route in rsc.results" ng-last-repeat="list"
            ui-sref="routes.details({ id : route.id })" apply-ink="results">
                <h2>{{ route.route_name }}</h2>
                <p>
                    From <strong>{{ route.origin }}</strong>
                    to <strong>{{ route.destination }}</strong>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
