<md-toolbar class="md-whiteframe-z1"
    ng-controller="HeaderController as hc">
    <div class="md-toolbar-tools">
        <h3><a href="/#/">Commuttr</a></h3>
        <span flex></span>
        <md-button ui-sref="auth" aria-label="Login or Signup" ng-if="!hc.loggedIn"
        style="height: auto;">
            Login or Signup
        </md-button>
        <md-button aria-label="Show sidebar" ng-if="hc.loggedIn"
        style="height: auto;" ng-click="hc.showSidebar()">
            <md-icon class="fa fa-user"></md-icon>
            {{ hc.user.name }}
        </md-button>
    </div>
</md-toolbar>
