<style type="text/css">
    .landing-page {
        background: url('https://31.media.tumblr.com/ff30f5bbc325a949470d2ee77e1ac731/tumblr_mgr69234Mq1rjg1qso1_500.gif');
        background-size: cover;
    }

    .landing-page .content { background-color: rgba(0, 0, 0, .5); padding-top: 20% !important; }
    .landing-page .content h1 {
        color: #ffffff;
        font-size: 50px;
        text-align: center;
    }
</style>
<ion-view class="landing-page" ng-controller="LandingController as lc">
    <ion-content class="has-header padding content">
        <form ng-submit="lc.doSearch()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Where are you going?</span>
                    <input type="text" ng-model="lc.search.keyword"
                    placeholder="Where are you going?">
                </label>

                <div class="padding">
                    <button class="button button-block button-positive button-flat"
                    type="submit">
                        Let's go!
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
