<ion-view id="route_results_page" ng-controller="RoutesDetailsController as rdc"
cache-view="false" view-title="{{ rdc.route.route_name }}">
    <ion-content>
        <div class="map" scroll="false">
            <div id="map_canvas" data-tap-disabled="true"></div>
        </div>
        <ion-tabs class="tabs-top tabs-background-balanced tabs-color-light">
            <ion-tab title="Details" icon="ion-ios-list-outline">
                <ion-nav-view class="padding">
                    <h2 class="title">{{ rdc.route.route_name }}</h2>
                    <div class="route">
                        From <strong>{{ rdc.route.origin }}</strong>
                        to <strong>{{ rdc.route.destination }}</strong>
                    </div>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Reviews" icon="ion-ios-chatbubble-outline">
                <ion-nav-view>asdfasdfasdf</ion-nav-view>
            </ion-tab>
            <!--<ion-tab title="Account">-->
            <!--<ion-nav-view>asdfasdf</ion-nav-view>-->
            <!--</ion-tab>-->
            </ion-tabs>
    </ion-content>
</ion-view>
