<style type="text/css">
    #auth_page .content h3,
    #auth_page .content p { text-align: center; }
</style>
<ion-view id="auth_page">
    <ion-content>
        <div class="content has-header has-footer">
            <div class="padding">
                <h3>Sign in to Commuttr</h3>
                <p>Save your routes and tell your experience on taking a route.</p>

                <div class="button-wrappers">
                    <button class="button button-block button-positive button-flat"
                    ng-click="showCreateAccountModal()">
                        Create account
                    </button>

                    <button class="button button-block button-positive button-flat"
                    ng-click="showSignInModal()">
                        Sign in
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
