<ion-modal-view id="login_modal">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Sign in</h1>
        <div class="buttons">
            <button class="button button-clear ion-close-round"
            ng-click="closeSignInModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="content padding">
            <form ng-submit="submitSignIn()">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="login.email" placeholder="Email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="login.password" placeholder="Password">
                    </label>

                    <div class="padding">
                        <button class="button button-block button-positive button-flat" type="submit">
                            Sign in
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-modal-view>
