.auth-page .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.auth-page .container .wrapper {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: table;
}

.auth-page .container .wrapper .inner {
    display: table-cell;
    margin: auto;
    width: 300px;
    vertical-align: middle;
}

.auth-page .container .wrapper .inner .hero-title { font-size: 50px; text-align: center; }
.container .wrapper .inner .hero-description { font-size: 20px; text-align: center; }

.auth-page .container .wrapper .inner .social-login { padding-top: 10px; }
.auth-page .container .wrapper .inner .social-login p { text-align: center; }
.auth-page .container .wrapper .inner .social-login a i { font-size: 16px; }

#login_form { margin-top: 20px; }
#login_form .form-group { margin: 0; }

#login_form .form-group.email input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#login_form .form-group.password { margin-bottom: 20px; }
#login_form .form-group.password input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#register_form { margin-top: 20px; }
#register_form .form-group { margin: 0; }

#register_form .form-group.email input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#register_form .form-group.password input { border-radius: 0; }

#register_form .form-group.name { margin-bottom: 20px; }
#register_form .form-group.name input {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
