<style>
    #map_canvas {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<ion-view title="{{ route.name }}">
    <ion-nav-bar class="bar bar-header bar-positive">
        <ion-nav-back-button class="no-text"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="Dashboard" icon="icon ion-home">
            <ion-nav-view class="has-header">
                <div id="map_canvas"></div>
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Friends" icon="icon ion-heart">
            <ion-nav-view class="has-header">

            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Account" icon="icon ion-gear-b">
            <ion-nav-view></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
