<ion-view id="product_list_page" title="Route results for keyword">
    <ion-header-bar class="bar bar-header bar-positive item-input-inset">
        <button class="button button-icon ion-navicon" menu-toggle="left"></button>

        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" ng-model="search.keyword" placeholder="Search">
        </label>
        <button class="button button-clear">
            <i class="ion-search"></i>
        </button>
    </ion-header-bar>
    <ion-content class="has-header has-footer">
        <div class="list">
            <a class="item" ng-repeat="route in searchResults" ng-last-repeat="list"
            href="#/routes/detail?id={{ route.id }}">
                <h2>{{ route.name }}</h2>
                <p>
                    From <strong>{{ route.to }}</strong>
                    to <strong>{{ route.from }}</strong>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>
