<style type="text/css">
    .landing-page h1 { text-align: center; margin-bottom: 15px; }
    .landing-page p { text-align: center; }
</style>
<div layout="row" ng-controller="LandingController as lc">
    <div flex layout="row" layout-align="center start">
        <div class="landing-page" layout="column" flex="50">
            <h1 class="md-display-4">Commuttr</h1>
            <p class="md-headline">Travel with no worries.</p>

            <form ng-submit="lc.searchRoute()">
                <md-input-container md-no-float>
                    <input ng-model="lc.search.keyword" placeholder="Where are you going?">
                </md-input-container>
            </form>
        </div>
    </div>
</div>
