<style type="text/css">
    #vehicle_create_dialog { height: auto; }
</style>
<md-dialog aria-label="Create vehicle" flex="30" id="vehicle_create_dialog"
ng-controller="VehicleCreateController as vcc">
    <form ng-submit="vcc.createVehicle()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create vehicle</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vcc.closeDialog($event)">
                    <md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-input-container>
                <label>Vehicle name</label>
                <input type="text" ng-model="vcc.vehicle.vehicle_name"/>
                <span class="error-message" ng-if="vcc.errors.vehicle_name">
                    {{ vcc.errors.vehicle_name[0] }}
                </span>
            </md-input-container>
            <md-input-container>
                <label>Plate number</label>
                <input type="text" ng-model="vcc.vehicle.plate_number"/>
                <span class="error-message" ng-if="vcc.errors.plate_number">
                    {{ vcc.errors.plate_number[0] }}
                </span>
            </md-input-container>
            <div class="transportation-list">
                <md-select placeholder="Type of transportation" ng-model="vcc.vehicle.transportation">
                    <md-option ng-repeat="transportation in vcc.transportationList"
                    value="{{transportation.id}}">
                        {{transportation.vehicle_type | uppercase}}
                    </md-option>
                </md-select>
                <span class="error-message" ng-if="vcc.errors.transportation_id">
                    {{ vcc.errors.transportation_id[0] }}
                </span>
            </div>
            <md-input-container>
                <label>Details (optional)</label>
                <textarea ng-model="vcc.vehicle.details"></textarea>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button type="submit" class="md-primary">
                Create
            </md-button>
        </div>
    </form>
</md-dialog>
