<style>
    #login_view {
        background: url('http://img1.goodfon.su/original/2560x1600/c/df/gorod-amerika-nyu-york-taxi.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #555555;
        display: table;
    }

    #login_view .padding {
        padding-top: 100px;
        background: rgba(255, 255, 255, .7);
        display: table-cell;
    }

    #login_view .padding .splash-page h1 { text-align: center; }
</style>
<ion-view view-title="Login" id="login_view">
    <ion-content class="padding">
        <div class="splash-page">
            <h1>Commuttr</h1>
            <form ng-submit="doSearch()">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" ng-model="search.query" placeholder="Where are you going?">
                    </label>
                </div>
                <button class="button button-block" nav-direction="forward">Let's go!</button>
            </form>
        </div>
    </ion-content>
</ion-view>
